# 1. What data type is each of the following?

5<br>
Integer

5.0<br>
Float 

5>1<br>
Boolean Expression

'5'<br>
String

5 * 2<br>
Integer

'5' * 2<br>
String

'5' + '2'<br>
String

5 / 2<br>
Float

5 // 2<br>
Integer

[5, 2 , 1]<br>
List

5 in [1, 4, 6]<br>
Boolean Expression

math.pi<br> 
Float

In [22]:
# Answer 2a

1111111 * 1111111

1234567654321

In [23]:
# Answer 2b
1000 // 81 # quotient symbol //

12

In [4]:
# Answer 2c
1000 % 81 # remainder symbol %

28

In [7]:
# Answer 2d
x = 90 
y = 95 
z = 87
average = (x + y + z)/3
average

90.66666666666667

In [3]:
# Answer 2e
a = 90 / 100
a

0.9

In [4]:
b = 46 / 50
b

0.92

In [5]:
c = 66 / 70
c

0.9428571428571428

In [6]:
d = 55/60
d

0.9166666666666666

In [7]:
max (a, b, c , d)

0.9428571428571428

In [15]:
# Answer 2f
min (90 / 100, 46 / 50, 55 / 60, 66 / 70 )

0.9

In [16]:
# Answer 2g
s = 0
for x in range (0,11):
    s = s + x
s

55

In [19]:
# Answer 2h
s = 1
for x in range (1,11):
    s = s * x
s

3628800

In [11]:
# Answer 2i
a = 2 ** 30
a

1073741824

In [1]:
# Answer 2j

# any bit has two states one is ON and another is OFF.

a = 2**32
print("The number of different encodings using 32 bits is:" ,a)

The number of different encodings using 32 bits is: 4294967296

In [25]:
# Answer 3a
x = 5
y = 10
z = 8

In [26]:
# Answer 3b

average = (x + y + z)/3
print ('Average of x, y, z is:' , average)

Average of x, y, z is: 7.666666666666667

In [28]:
# Answer 3c

a = max (x, y, z)
print (a)

10

In [29]:
b = min (x, y, z)
print (b)

5

In [30]:
c = x + y + z
print (c)

23

In [31]:
# Answer 3d

Median = (c - a - b)
print (' Median value among x, y, z is:', Median)

 Median value among x, y, z is: 8

In [32]:
# Answer 4a

len('Supercalifragilisticexpialidocious')

34

In [33]:
 # Answer 4b
    
'ice' in 'Supercalifragilisticexpialidocious'

True

In [36]:
# Answer 4c

a = len('Supercalifragilisticexpialidocious')
b = len('Honorificabilitudinitatibus')
c = len('Bababadalgharaghtakamminarronnkonn')
if a>=b :
    print('The longest word is a for now')
else :
    print ('The longest word is b for now')
    
if a >= c:
    print ('The longest word are a & c')
else :
    print("The longest word is c")

The longest word is a for now
The longest word are a & c

In [2]:
# Answer 4d

list = [ 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
list.sort()
a = list [0]
print ("The first composer in the dictionary is:",a)
b = list[-1]
print ("The last composer in the dictionary is:",b)

The first composer in the dictionary is: Bartok
The last composer in the dictionary is: Buxtehude

In [3]:
# Answer 5a

roman = ['Julius', 'Augustus', 'Brutus',  'Cassius']
roman

['Julius', 'Augustus', 'Brutus', 'Cassius']

In [4]:
 # Answer 5b

english = ['Dickens', 'Austen', 'Henry',  'Elizabeth']
english

['Dickens', 'Austen', 'Henry', 'Elizabeth']

In [7]:
# Answer 5c

rulers = [roman[0], roman[1], english[-2], english [-1]]
print("The first two elements of roman and the last two elements of english are:\n" , rulers)

The first two elements of roman and the last two elements of english are:
 ['Julius', 'Augustus', 'Henry', 'Elizabeth']

In [14]:
# Answer 6a

lst = [94, 86, 85, 81, 86, 96, 91, 85, 86, 83, 89, 81, 86, 98, 84]
a = min(lst)
print('Lowest score:', a)
b = max(lst)
print ('Highestscore:', b)
c = len(lst)
print('Length of list is:', c)
d = sum(lst)
print('Sum of numbers:',d)
average = d/c
print("Average score is:",average)

Lowest score: 81
Highestscore: 98
Length of list is: 15
Sum of numbers: 1311
Average score is: 87.4

In [16]:
# Answer 6b

lst.sort()
median = lst[round(len(lst)/2)]
print("Median Score:",median)

Median Score: 86

In [17]:
# Answer 6c
lst = [94, 86, 85, 81, 86, 96, 91, 85, 86, 83, 89, 81, 86, 98, 84]
lst.sort()
print("Sorted list is:",lst)
scores = lst[-1] - lst[0]
print("The range of the scores is:", scores)

Sorted list is: [81, 81, 83, 84, 85, 85, 86, 86, 86, 86, 89, 91, 94, 96, 98]
The range of the scores is: 17

In [11]:
# Answer 6d

num = lst.count(85)
print("Number of scores that are 85 is:", num)

Number of scores that are 85 is: 2

In [12]:
# Answer 7

name = ['first name', 'middle name','last name']
Firstname = input('Enter first name:')
Middlename = input('Enter middle name:')
Lastname = input('Enter last name:')
myexpression = [Firstname, Middlename, Lastname]
my = str(myexpression[2] + ", " + myexpression[0] + " " +myexpression[1][0] + ".")
my

Enter first name:John
Enter middle name:Phillip
Enter last name:Sousa

'Sousa, John P.'

In [13]:
# Answer 8

list = [4, 1, 0.5, 10, 6]
list.sort()
print("Sorted list is: ", list)
product = list[0] * list[-1]
print("The product of the largest and smallest values in the list is:", product)

Sorted list is:  [0.5, 1, 4, 6, 10]
The product of the largest and smallest values in the list is: 5.0

In [14]:
# Answer 9

list = [4, 1, 0.5, 10, 6]
list.sort()
print("Sorted list is: ", list)
Add = list[-2] + list [1]
print("The sum of the second-largest and second-smallest values in the list is:", Add)

Sorted list is:  [0.5, 1, 4, 6, 10]
The sum of the second-largest and second-smallest values in the list is: 7